pandas
numpy
otx
torch
lightning
torchvision
openvino-model-api
openvino
onnx
openvino-dev
opencv-python

# Aequitas
aequitas==0.42.0
pandas
seaborn
matplotlib
sklearn
IPython

# AIF360 Requirements
sklearn
aif360
common-utils
matplotlib
seaborn
collections
